@page
@model WebApplication_AuthenticationSystem_.Areas.Identity.Pages.Clients.EditModel
@{

}

<br>
<h2>Edit Client</h2>

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    
    <div class="row mb-3">
        <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" id="firstname" class="form-control" name="firstname" value="@Model.clientInfo.firstname">
        </div>
    </div>
    <div class="row mb-3">
        <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" id="lastname" class="form-control" name="lastname" value="@Model.clientInfo.lastname">
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="email" id="email" class="form-control" name="email" value="@Model.clientInfo.email">
        </div>
    </div>
    <div class="row mb-3">
        <label for="id" class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-6">
            <input type="text" id="id" class="form-control" name="id" value="@Model.clientInfo.id">
        </div>
    </div>
    <div class="row mb-3">
        <label for="phone" class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="tel" id="phone" class="form-control" name="phone" value="@Model.clientInfo.phone">
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.successMessage))
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
